html {
    font-family: 'Fredoka', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.main__announcement-title {
    font-size: 38px;
    padding: 50px;
    color: #E63276;
}

.main__candidates-card {
    width: calc((100% - 80px) / 3);
    /* height: 100px; */
    /* border: 1px solid red; */
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #0E0E17;
}

.float-left {
    float: left;
}

/* .main__candidates::after {
    content: '';
    display: table;
    clear: both;
} */

.main__candidates-card:nth-child(3n) {
    margin-right: 0;
}


.candidates__photo img {
    height: 100px;
    float: left;
}




/* 
FOOTER CONTAINER
 */

 /* .footer-container {
    width: 100%;
    height: 150px;
    background-color: #222222;
 } */